*.o
*.a
*.so
_obj
_test
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.exe~
*.test
*.prof
*.rar
*.zip
*.gz
*.psd
*.bmd
*.cfg
*.pptx
*.log
*.out
*.sublime-project
*.sublime-workspace
/openspec
.cursor
.DS_Store

sample/sample
sample/pholcus_pkg/cache
sample/pholcus_pkg/file_out
sample/pholcus_pkg/history
sample/pholcus_pkg/logs
sample/pholcus_pkg/text_out

pholcus_pkg/

